<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Here we are accessing the title property specified in the handler function, and appending it to the page's title -->
    <title>Node JS crash course | <%= title%></title>
    <link rel="stylesheet" href="/style.css">
</head>