<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS crash course</title>
</head>
<body>
    <nav>
        <div class="site_title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A net ninja site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </nav>
    <!-- To add dynamic content (such as the following JS code) we need to use <% %> tags and <%= %> -->
    <% let name = 'mario' %>
    <h2>My name is: <%= name %></h2>

    <!-- The above was a very simple example. In the next commit we will see how to inject content from the app.js file into the templates -->
    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
</body>
</html>