<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Here we are accessing the title property specified in the handler function, and appending it to the page's title -->
    <title>Node JS crash course | <%= title%></title>
</head>
<body>
    <nav>
        <div class="site_title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A net ninja site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <!-- First up we will check if the array  of blogs is not empty -->
        <% if(blogs.length > 0) { %>  <!--Notice that we are putting the closing bracket in a different tag-->
            <% blogs.forEach(blog => { %>
                
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet%></p>

            <% }) %>
        <% } else {%>
            <p>No logs to display at the moment (；′⌒`)</p>
        <% } %>
    </div>
</body>
</html>